<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.francesco.myfirstapp"
    android:installLocation="internalOnly">

    <!-- Permessi applicazione -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <!-- TODO: TOGLIERE android:debuggable="true" PRIMA DELLA RELEASE -->
    <application
        android:name=".SensorProjectApp"
        android:allowBackup="true"
        android:debuggable="true"
        android:icon="@mipmap/gaialogo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/gaiaTheme">
        <activity android:name=".ActivityIntro">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ActivityReader" />

        <activity
            android:name=".ActivitySettings"
            android:label="@string/SettingsActivity"
            android:parentActivityName=".ActivityReader"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ActivityLinearChart"
            android:label="@string/ResultsActivity"
            android:parentActivityName=".ActivityReader" />
        <activity
            android:name=".ActivityLogin"
            android:label="@string/loginActivity" />
        <activity
            android:name=".ActivityCakeChart"
            android:label="@string/ResultsActivity"
            android:parentActivityName=".ActivityReader" />



        <!-- ricevitori -->
        <receiver
            android:name=".AutostartOnBoot"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.QUICKBOOT_POWERON" />
            </intent-filter>
        </receiver>
        <receiver android:name=".BackgroundTask" />

        <!-- ********** SERVICE ***************** -->
        <service
            android:name=".StarterService"
            android:enabled="true"
            android:exported="true" />
        <!-- NOTA BENE [] android:exported -> permetto ad activity di altre app di avviare questo service -->


    </application>

</manifest>