<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.francesco.myfirstapp">

    <!-- Permessi applicazione -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <!-- TODO: TOGLIERE android:debuggable="true" PRIMA DELLA RELEASE -->
    <!-- TODO: modificare android:icon="@mipmap/ic_launcher" e mettere immagine icona app -->
    <application
        android:name=".SensorProjectApp"
        android:allowBackup="true"
        android:debuggable="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- ******* NUOVE ******* -->
        <activity android:name=".ActivityIntro">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ActivityTimeRead"
            android:label="@string/timeRead_activity_name"
            android:parentActivityName=".ActivityIntro" />
        <activity
            android:name=".ActivityLastRead"
            android:label="@string/lastRead_activity_name"
            android:parentActivityName=".ActivityIntro" />
        <activity
            android:name=".ActivityLinearGraph"
            android:label="graph_activity_name"
            android:parentActivityName=".ActivityTimeRead" />

        <!-- ********** SERVICE ***************** -->
        <!-- android:exported -> permetto ad activity di altre app di avviare questo service -->


        <activity android:name=".ActivityLogin" />
        <activity android:name=".ActivityIntroNew"></activity>
    </application>

</manifest>